
footer.bg-neutral-700.border-t.text-white.p-8
    div.footer-container(class="text-sm text-center md:text-right")
        div.copyright  &copy; 2026 Manish. All rights reserved 
        div.info 
            p 
                span Built with 
                span.text-red-600 ♥ 
                span for CM1040 
                span Web Development Finals
