nav 
    .container 
        .nav-container 
            a(href="/")
            
            ul 
                li 
                    a(href="/") Home
                li 
                    a(href="/foundation") Humble Begginings
                li 
                    a(href="/wireless") Wireless era
                li
                    a(href="smart-nation") Smart Nation