doctype html
html
  head
    title SG's Digital Evolution
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Hello World

    script(src="/scripts/index.js")

    include partials/footer